## import library

In [1]:
import pandas as pd
import numpy as np
from ast import literal_eval

## Dataset import

In [2]:
df = pd.read_csv('movies_metadata.csv')

/tmp/ipykernel_37395/2089594497.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies_metadata.csv')

## Memilih fitur-fitur yang relevan

In [3]:
# Select just relevant features
relevant_features = ['title','genres', 'release_date', 'runtime', 'vote_average', 'vote_count']
df = df[relevant_features]

## Mengextract tahun dari release date

In [4]:
#Convert release_date into pandas datetime format
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

# Extract year from release_date-column and store the values into a new year-column
df['year'] = pd.DatetimeIndex(df['release_date']).year

#Helper function to convert NaN to 0, if there are any, and all other years to integers.
def convert_int(x):
    try:
        return int(x)
    except:
        return 0
    
#Apply convert_int to the year feature
df['year'] = df['year'].apply(convert_int)

#Drop the release_date column
df = df.drop('release_date', axis=1)

df.head()

,title,genres,runtime,vote_average,vote_count,year
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",81.0,7.7,5415.0,1995
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",104.0,6.9,2413.0,1995
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",101.0,6.5,92.0,1995
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",127.0,6.1,34.0,1995
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",106.0,5.7,173.0,1995

## Mengkonversi fitur genre

In [5]:
#Convert all NaN into stringified empty lists
df['genres'] = df['genres'].fillna('[]')

#Apply literal_eval to convert stringified empty lists to the list object
df['genres'] = df['genres'].apply(literal_eval)

#Convert list of dictionaries to a list of strings
df['genres'] = df['genres'].apply(lambda x: [i['name'].lower() for i in x] if isinstance(x, list) else [])

df

,title,genres,runtime,vote_average,vote_count,year
0,Toy Story,"[animation, comedy, family]",81.0,7.7,5415.0,1995
1,Jumanji,"[adventure, fantasy, family]",104.0,6.9,2413.0,1995
2,Grumpier Old Men,"[romance, comedy]",101.0,6.5,92.0,1995
3,Waiting to Exhale,"[comedy, drama, romance]",127.0,6.1,34.0,1995
4,Father of the Bride Part II,[comedy],106.0,5.7,173.0,1995
...,...,...,...,...,...,...
45461,Subdue,"[drama, family]",90.0,4.0,1.0,0
45462,Century of Birthing,[drama],360.0,9.0,3.0,2011
45463,Betrayal,"[action, drama, thriller]",90.0,3.8,6.0,2003
45464,Satan Triumphant,[],87.0,0.0,0.0,1917
45465,Queerama,[],75.0,0.0,0.0,2017

## Memecah setiap text genre kedalam baris berbeda

In [6]:
#Create a new feature by exploding genres
s = df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

#Name the new feature as 'genre'
s.name = 'genre'

#Create a new dataframe gen_df which by dropping the old 'genres' feature and adding the new 'genre'.
gen_df = df.drop('genres', axis=1).join(s)

#Print the head of the new gen_df
gen_df.head()

       title  runtime  vote_average  vote_count  year      genre
0  Toy Story     81.0           7.7      5415.0  1995  animation
0  Toy Story     81.0           7.7      5415.0  1995     comedy
0  Toy Story     81.0           7.7      5415.0  1995     family
1    Jumanji    104.0           6.9      2413.0  1995  adventure
1    Jumanji    104.0           6.9      2413.0  1995    fantasy

## Membangun knowledge based recommender

In [7]:
def build_chart(gen_df, percentile=0.8):
    #Ask for preferred genres
    print("Input preferred genre")
    genre = input()

    #Ask for lower limit of duration
    print("Input shortest duration")
    low_time = int(input())

    #Ask for upper limit of duration
    print("Input longest duration")
    high_time = int(input())

    #Ask for lower limit of timeline
    print("Input earliest year")
    low_year = int(input())

    #Ask for upper limit of timeline
    print("Input latest year")
    high_year = int(input())

    #Define a new movies variable to store the preferred movies. Copy the contents of gen_df to movies
    movies = gen_df.copy()

    #Filter based on the condition
    movies = movies[(movies['genre'] == genre) &
        (movies['runtime'] >= low_time) &
        (movies['runtime'] <= high_time) &
        (movies['year'] >= low_year) &
        (movies['year'] <= high_year)]
    
    #Compute the values of C and m for the filtered movies
    C = movies['vote_average'].mean()
    m = movies['vote_count'].quantile(percentile)

    #Only consider movies that have higher than m votes. Save this in a new dataframe q_movies
    q_movies = movies.copy().loc[movies['vote_count'] >= m]

    #Calculate score using the IMDB formula
    q_movies['score'] = q_movies.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average'])
                + (m/(m+x['vote_count']) * C), axis=1)
    
    #Sort movies in descending order of their scores
    q_movies = q_movies.sort_values('score', ascending=False)

    return q_movies

In [12]:
personal_recommendations = build_chart(gen_df).head(8)

Input preferred genre
Input shortest duration
Input longest duration
Input earliest year
Input latest year

In [13]:
personal_recommendations

,title,runtime,vote_average,vote_count,year,genre,score
2211,Life Is Beautiful,116.0,8.3,3643.0,1997,comedy,8.221020
18465,The Intouchables,112.0,8.2,5410.0,2011,comedy,8.148348
13724,Up,96.0,7.8,7048.0,2009,comedy,7.766528
1604,The Truman Show,103.0,7.8,4702.0,1998,comedy,7.750223
4843,Amélie,122.0,7.8,3403.0,2001,comedy,7.731838
1650,The Big Lebowski,117.0,7.8,3001.0,1998,comedy,7.723041
0,Toy Story,81.0,7.7,5415.0,1995,comedy,7.658704
15348,Toy Story 3,103.0,7.6,4710.0,2010,comedy,7.555032